.todos__form {
   margin: 1em 0;
   width: 100%;
   display: flex;
   justify-content: center;
}

.todo__input {
    padding: 0.5em;
    width: 100%;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.todo__input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.todo__add {
    padding: 0 1em;
    border:none;
    background-color: #ff9800;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}