@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select, option {
    font: -moz-pull-down-menu;
}

html, body, .app, .app > div {
    min-height: 100vh;
    height: 100%;
    overflow:auto;
}


body {
    background: #201d1c;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 .5em;
}

.app.dark {
    background: #201d1c;
    transition: all 0.5s ease;
}

.app.light {
    background: #fff;
    transition: all 0.5s ease;
}